services:
  mysql:
    image: mysql:9.5
    env_file: .env
    network_mode: "host"
    restart: unless-stopped
    command: --server_id=${MYSQL_SERVER_ID} --gtid_mode=ON --report-host=${MYSQL_HOST}
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  script:
    image: mysql:9.5
    env_file: .env
    network_mode: "host"
    volumes:
      - ./scripts/:/scripts/
    depends_on:
      mysql:
        condition: service_healthy
    entrypoint: ["/bin/bash", "-c"]
    command:
      - mysqlsh root@${MYSQL_HOST} --password=${MYSQL_ROOT_PASSWORD} --file=/scripts/setupCluster.js
    restart: "no"

  router:
    build:
      context: .
      dockerfile: Dockerfile.router
    network_mode: host
    restart: unless-stopped
    env_file: .env
    depends_on:
      script:
        condition: service_completed_successfully
      mysql:
        condition: service_healthy
