services:
  mysql:
    image: mysql:9.5
    env_file: .env
    network_mode: "host"
    restart: unless-stopped
    command: --server_id=${MYSQL_SERVER_ID} --gtid_mode=ON --report-host=${MYSQL_HOST}
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  script:
    image: mysql:9.5
    env_file: .env
    network_mode: "host"
    volumes:
      - ./scripts/:/scripts/
    depends_on:
      mysql:
        condition: service_healthy
    entrypoint: ["/bin/bash", "-c"]
    command:
      - mysqlsh root@${MYSQL_HOST} --password=${MYSQL_ROOT_PASSWORD} --file=/scripts/setupCluster.js
    restart: "no"

  router:
    env_file: .env
    image: mysql/mysql-router:8.0
    environment:
      - MYSQL_USER=root
      - MYSQL_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
      - "6446:6446"
    depends_on:
      - mysql
      - script
    restart: unless-stopped
